
bin/Debug/Diary.exe
bin/Debug/Diary.exe.config
bin/Debug/Diary.pdb
bin/Debug/Новый текстовый документ.udl
bin/Release/Diary.exe
bin/Release/Diary.exe.config
bin/Release/Diary.pdb
bin/Debug/database.mdb
bin/Debug/connection.udl
obj/Release/Diary.exe
obj/Release/Diary.pdb
obj/Release/Diary.Form1.resources
obj/Release/Diary.Properties.Resources.resources
obj/Release/Diary.csproj.GenerateResource.cache
obj/Release/Diary.csprojAssemblyReference.cache
obj/Release/Diary.csproj.FileListAbsolute.txt
obj/Release/Diary.AddTaskDialog.resources
obj/Debug/Diary.exe
obj/Debug/Diary.pdb
obj/Debug/Diary.csproj.GenerateResource.cache
obj/Debug/Diary.csprojAssemblyReference.cache
.vs/Diary/v16/.suo
.vs/Diary/v16/Server/sqlite3/db.lock
.vs/Diary/v16/Server/sqlite3/storage.ide
.vs/Diary/v16/Server/sqlite3/storage.ide-shm
.vs/Diary/v16/Server/sqlite3/storage.ide-wal
obj/Debug/Diary.csproj.GenerateResource.cache
obj/Debug/Diary.csprojAssemblyReference.cache
